@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lexend';
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100dvh;
    margin-top: 95px;
}

a {
    text-decoration: none;
    color: black;
}

header {
    top: 0;
    position: fixed;
    z-index: 9999;
    width: 100%;
    padding: 20px 150px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 1px 15px rgba(0, 0, 0, .25);
    background-color: rgba(255, 255, 255, 0.753);

    &>img {
        width: 100px;
    }
}

nav {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 5rem;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 700;

    &:hover {
        color: #59c1ef;
        transition:
            color .25s;
    }
}

section {
    margin-left: calc(100px + 2vw);
    margin-right: calc(100px + 2vw);
}

#banner {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1.5fr;
    min-height: 100dvh;
    background-size: cover;
    background-position: center;
    margin-top: -95px;
    padding-top: 40px;
    gap: 10px;
}

.banner-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

.banner-h1 {
    font-size: calc(100% + 4vw);
    font-weight: bolder;
    color: #59c1ef;
}

.banner-h2 {
    font-size: calc(100% + 2vw);
    font-weight: bolder;
}

.banner-p {
    text-wrap: balance;
    font-size: calc(25% + 1vw);
    line-height: 1.5;
}

.banner-video {
    width: 90%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 13px -10px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 10px 13px -10px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 10px 13px -10px rgba(0, 0, 0, 0.45);
}


#nosotros {
    padding: 10px;
    margin: 0 100px 0;
    display: grid;
    place-items: center;
    grid-template-columns: 1.5fr 1fr;
    min-height: 100dvh;
    background-size: cover;
    background-position: center;
    margin: 0 100px 0;
    gap: 20px;
}

.nosotros-video {
    width: 90%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 13px -10px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 10px 13px -10px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 10px 13px -10px rgba(0, 0, 0, 0.45);
}

.nosotros-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    padding-left: 10px;
}

.nosotros-h2 {
    font-size: calc(100% + 2vw);
    color: #59c1ef;
}

.nosotros-p {
    text-wrap: balance;
    font-size: calc(25% + 1vw);
    line-height: 1.5;
}

#productos {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.productos-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.productos-text-h2 {
    font-size: calc(100% + 2vw);
    color: #59c1ef;
}

.productos-text {
    text-wrap: balance;
    font-size: calc(25% + 1vw);
    line-height: 1.5;
}

.productos-text-h3 {
    font-size: calc(100% + 0.5vw);
}

.productos-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 10px;
}

.productos-card {
    min-width: 250px;
    min-height: 350px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 5px -1px rgba(61, 61, 61, 0.35);
    -moz-box-shadow: 0px 0px 5px -1px rgba(61, 61, 61, 0.35);
    box-shadow: 0px 0px 5px -1px rgba(61, 61, 61, 0.35);
}

.productos-card-img {
    width: 100%;
}

.productos-card-info {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.productos-card-info-nombre {
    display: grid;
    place-content: center;
    font-weight: bold;
}

.productos-card-info-precio {
    padding: 3px 8px;
    color: white;
    background-color: #59c1ef;
    border-radius: 10px;
}

.productos-card-buttons {
    width: 100%;
}

.productos-card-button {
    width: 100%;
    border: none;
    padding: 8px;

    transition:
        background-color .5s;

    &:hover {
        background-color: #59c1ef;
        cursor: pointer;
    }
}

footer {
    background-color: black;
    color: white;
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 30px;
}

.footer-social,
.footer-contact {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &:hover>.footer-social-text {
        border-bottom: 1px solid white;
    }

    &:hover>.footer-contact-text {
        border-bottom: 1px solid white;
    }
}

.footer-logo {
    display: grid;
    place-items: center;
}

.footer-logo-img {
    height: 125px;
}

.footer-social-text,
.footer-contact-text {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 5px;
    border-bottom: 1px solid rgb(0, 0, 0);
    transition:
        border-bottom .25s;
}

.footer-social-ul,
.footer-contact-ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.footer-social-li,
.footer-contact-li {
    padding: 5px;
    gap: 10px
}

.footer-social-icon,
.footer-contact-icon {
    display: flex;
    gap: 7.5px;
    align-items: center;
    color: white;
    align-items: center;

    &>svg {
        width: 35px;
        height: 35px;
    }

    &:hover {
        transform: scale(1.05);
        transition:
            transform .25s;
    }
}

.footer-copy {
    padding: 20px 0 0;
    grid-column: 1 / 4;
    text-align: center;
    font-size: .9rem;
}